<html>

<head>
    <title>Algolia Search</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>


</head>

<body style="overflow-x: hidden">
    <%- include('./_partials/navbar') %>
        <div class="container-fluid" style="padding-top:150px">
            <div class="row">
                <div class="col-sm">

                </div>
                <div class="col-sm">
                    <div id="alert" class="alert alert-success" style="display: none" role="alert"></div>
                    <form id="frmAdd">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Book Name</label>
                            <input id="book-name" type="text" class="form-control" placeholder="Enter book name...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Author</label>
                            <input id="author-name" type="text" class="form-control" placeholder="Enter author name...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Abstract</label>
                            <textarea id="book-abstract" class="form-control"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Save Book</button>
                    </form>

                </div>
                <div class="col-sm">

                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {

                $('#frmAdd').on('submit', function (e) {
                    e.preventDefault();
                    var book = {
                        name: $('#book-name').val(),
                        author: $('#author-name').val(),
                        abstract: $('#book-abstract').val()
                    }
                    console.log("ok", book);

                    $.ajax({
                        method: "POST",
                        url: "/add-book",
                        data: book
                    })
                        .done(function (msg) {
                            $('#alert').html(msg);
                            $('#alert').show();
                            $('#book-name').val('');
                            $('#author-name').val('');
                            $('#book-abstract').val('');
                            setTimeout(function(){
                                $('#alert').hide('slow');
                            }, 2500);
                        });

                })

            });
        </script>
</body>

</html>