<html>
<head>
    <title>Algolia Search</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</head>
<body>
    <%- include('./_partials/navbar') %>
    <div class="container" style="padding-top:150px">
        <center>Sample search with algolia....</center>
    </div>
</body>
</html>